.signup-container{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.signup-form{
    display: flex;
    flex-direction: column;
    width: 80vw;
    height: fit-content;
    gap: 10px;
    justify-content: center;
    font-size: x-large;

}

.signup-form input{
    border:0px;
    font-size: x-large;
    border-bottom: 1px solid red;
}