.cast-cast-container {
    width: 8vw;

    height: fit-content;
    display: inline-block;
    position: relative;
    



}


.cast-cast-container img {
    border-radius: 100px;
        border: 0.5px dotted violet;

    max-width: 100%;
    height: auto;
    display: block;
    z-index: -1;
}

.card-cast-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: aliceblue;
    font-style: oblique;
    background-color:var(--border-color);
    border: 1px solid var(--text-color);
    justify-content: center;
    font-size: small;
    text-align: center;

}

.card-cast-details h3 {
    align-content: center;
    font-style: italic;
    justify-content: center;
}

.cast-cast-other {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    border-radius: 0px 0px 10px 10px;
}

@media screen and (max-width:992px) {
    .cast-cast-container {
        width: 15vw

    }
}

@media screen and (max-width:600px) {
    .cast-cast-container {
        width: 20vw;
        
    }
}