.cast-cast-container {
    width: fit-content;

    height: fit-content;
    display: inline-block;
    position: relative;
    border: 0.5px solid violet;
    animation: boxShadow 5s infinite;
    border-radius: 10px;
    



}

@keyframes boxShadow {
    50% {
        box-shadow: -10px 10px 24px var(--border-color);
    }

}

.cast-cast-container img {
    border-radius: 10px;
    max-width: 100%;
    height: auto;
    display: block;
    z-index: -1;
    box-shadow: 2px double var(--border-color);
}

.card-cast-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: aliceblue;
    font-style: oblique;
    background-color: rgba(0, 0, 0, 0.452);
    justify-content: center;
    font-size: small;
    text-align: center;

}

.card-cast-details h3 {
    align-content: center;
    font-style: italic;
    justify-content: center;
}

.cast-cast-other {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    border-radius: 0px 0px 10px 10px;
}

@media screen and (max-width:992px) {
    .cast-cast-container {
        width: 15vw

    }
}

@media screen and (max-width:600px) {
    .cast-cast-container {
        width: 30vw;
        
    }
}