.video-section-container {
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    
    width: 100%;
    height: 100%;
    position: relative;
}


.holdin-place {
    display: block;
    position: fixed;
    z-index: 1;
}

.move-place {
    display: block;
    position: absolute;
    
    scroll-snap-stop: always;
    scroll-snap-align: start;
    width: 100%;
    height: 500px;
    z-index: 2;
    background-color: var(--background-color);

    border-radius: 20px 20px 0px 0px;
}



@media only screen and (max-width: 600px) {
    .move-place{
        margin-top: 30vh;
    }
}

@media only screen and (min-width: 600px) {
    .move-place{
        margin-top: max(30vh,55vw);
    }
}

@media only screen and (min-width: 1800px) {
    .holdin-place{
        margin-top:-7vh;
    }
}

@media only screen and (min-width:1900px) {
    .holdin-place{
        margin-top: -100px;
    }
    
}