.hero-container {
    width: auto;
    height: 80vh;
    overflow: hidden;
    padding: 0%;
    position: relative;
    background-color: var(--background-color);
}



.hero-background {
    width: 100%;
    padding: 0%;
    height: 100%;
    background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/9ddb442a-aca7-4d85-9cd1-dbed62f18f26/web/IN-en-20251222-TRIFECTA-perspective_a882efaa-75c8-4143-9dc1-4f9932a791ac_large.jpg");
    background-size: cover;
    background-position: center;
    position: relative;

}

.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to left top, rgba(0, 0, 0, 0.4) 0%, var(--background-color) 80%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0%;
}

.hero-content {
    max-width: 800px;
    text-align: left;
    align-content: center;
    justify-content: center;
}

.hero-title {
    font-size: xx-large;
    color: var(--text-color);
    line-height: 1.1;
    margin-bottom: 20px;
    font-weight: 800;
    text-align: center;
}

.highlight {
    color: var(--primary-color);
}



.heto-actions {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.hero-input {
    flex: 1;
    border-radius: 3px;
    border: 1px solid rgba(226, 232, 246, 0.3);
    background-color: rgba(16, 41, 75, 0.411);
    color: var(--text-color);
    padding: 10px;
    transition: var(--border-color) 0.3s ease-in-out;
    min-width: 40vh;

}

.hero-input:focus {
    border-top: var(--border-color);
    background-color: var(--secondary-bg-color);
}

.hero-btn-sigup {
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    padding: 0 35px;
    font-size: 1.2rem;
    font-weight: 700;
    border-radius: 4px;
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:32px;'><text y='50%'>😊</text></svg>") 16 0, auto;

}

@media (max-width:768px) {

    .hero-overlay{
        padding: 0;
        justify-content: center;
        text-align: center;

    }
    .hero-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .heto-actions {
        flex-direction: column;
    }

    .hero-input {
        min-width: 30vh;
        max-width: 35vh;
    }
}

@media screen and (min-width: 1024px) {
    
}