
.card-container{
    width: 20vh;
    padding: 10px;
}

img{
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 10px 10px 0px 0px ;
}

.card-movie-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0px 0px 10px 10px ;
}

.card-movie-other{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    border-radius: 0px 0px 10px 10px ;
}