
.card-container{
    width: 20vh;
    display: inline-block;
    position: relative;
        border: 0.5px solid violet;
        animation: boxShadow 5s infinite;
    

    
}

@keyframes boxShadow {
    50%{box-shadow: -10px 10px 24px var(--border-color);}
    
}

.card-container img{
    max-width: 100%;
    height: auto;
    display: block;
    z-index: -1;
    box-shadow:2px double var(--border-color);
}

.card-movie-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 0;
    position:absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: aliceblue;
    font-style: oblique;
    background-color: rgba(0, 0, 0, 0.452);

}
.card-movie-details h3{
    align-content: center;
    font-style: italic;
}

.card-movie-other{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    border-radius: 0px 0px 10px 10px ;
}