.movie-detail-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    color: var(--text-color);
}

.top-main-box {
    box-shadow: inset 0px -20px 10px var(--border-color);
    padding: 40px;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.movie-title {
    align-self: left;
    font-size: max(40px, 7vw);
    flex-shrink: 3;
    text-decoration: underline;
}

.movie-subtitle {
    font-size: max(20px, 2vw);
}

.movie-desc {
    font-size: 1vw;
}

.movie-stats {
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 50vw;
}

.imbd-rate,
.time,
.year {
    font-size: max(10px, 1vw);
}

.year::before,
.time::before {
    content: "|";

}

.imbd-rate::before {
    content: "IMDb ";
}

.genres,
.company {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px;
    justify-content: left;

    flex-wrap: wrap;
}

.genres p {
    padding-inline: 10px;
    background-color: var(--border-color);
    border-radius: 20px;
}

.shade-movie-details {
    background-image: linear-gradient(to bottom, var(--border-color), var(--background-color));
    height: fit-content;


}

.title-movie-details {
    padding-inline: 10px;
    font-size: min(35px, 5vh);
    flex-shrink: 3;
    text-decoration: underline;

}

.desc-box {
    padding: 30px;
    font-size: min(25px, 2vh);
    flex-shrink: 3;
}

.company {
    padding-left: 30px;
}

.company-details {
    font-size: max(20px, 1vw);
    padding-left: 10px;
    border-left: 1px solid var(--text-color);

}


.rate-main-box {

    display: flex;
    gap: 20px;
    overflow: auto;
}

.rate-sub-Box {
    background-color: rgba(240, 255, 240, 0);
}

.movie-details-button {
    display: flex;
    position: relative;
    gap: 10vw;
    width: 80vw;

}

.watchNow {
    padding: .6vh;
    font-size: 1.4vh;
    width: fit-content;
    height: fit-content;
    padding-inline: 10vw;
    margin-bottom: 10px;
    background-color: var(--border-color);
    color: var(--text-color);
    border-radius: 20px;
}

.content-section-box {
    padding-inline: 5vw;
    padding-top: 2vw;
}

.content-section-box h4 {
    padding-bottom: 10px;
    font-size: x-large;
}

@media screen and (max-width:992px) {
    .content-section-box {
        padding-top: 1vw;
    }

    .content-section-box h4 {
        padding-bottom: 0px;
        font-size: large;
    }

}

@media screen and (max-width:600px) {
    .rate-main-box {
        overflow: none;
        flex-wrap: wrap;
    }
    .content-section-box {
        padding-top: 1vw;
    }

    .content-section-box h4 {
        padding-bottom: 0px;
        font-size: medium;
    }

}