.movie-detail-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    color:var(--text-color);
    
}
.top-main-box{
    box-shadow: inset 0px -20px 10px var(--border-color);
    padding: 20px;
    background-color: var(--background-color);
}
.movie-title{
    align-self: left;
    font-size: max(40px,7vw);
    flex-shrink: 3;
    text-decoration: underline;
}

.movie-subtitle{
    font-size: max(20px,2vw);
}

.movie-desc{
    font-size: 1vw;
}

.movie-stats{
    display: flex;
    flex-direction: row;
    justify-content: left;
    width:50vw;
}
.imbd-rate,
.time,
.year{
    font-size: max(10px,1vw);
}

.year::before,
.time::before{
    content: "|";

}
.imbd-rate::before{
    content: "IMDb ";
}

.genres,.company{
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px;
    justify-content: left;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.genres p{
    padding-inline: 10px;
    background-color: var(--border-color);
    border-radius: 20px;
}

.shade-movie-details{
    background-image: linear-gradient(to bottom  ,var(--border-color),var(--background-color));
    height:fit-content;

   
}
.title-movie-details{
    padding-inline: 10px;
    font-size: min(35px,5vh);
    flex-shrink: 3;
    text-decoration: underline;
    
}

.desc-box{
    padding: 30px;
    font-size: min(25px,4vh);
    flex-shrink: 3;
}

.company-details{
    font-size: max(20px,2vw);

    border-left:1px solid var(--text-color);    
    padding-left: 10px;
}