.Faq-main{
    display: flex;
    flex-direction: row;
}
.faq-box{
 
 
 display: flex;
 flex-direction: column;
 color:var(--text-color)
}
.box1{
    width: 20vw;
   background-color: var(--background-color);
   display: flex;
   justify-content: center;
   align-items: center;
}
.Faq-main{
    background-color: var(--background-color);
}
.box2{
    width: 80vw;
    color:var(--background-color);
    padding: 10px;
    display: flex;
    justify-content: center;
    border: 2px solid var(--border-color);
    background-color: var(--text-color);

    border-radius: 30px 0px 0px 30px ;
}

a{
    text-decoration: none;
}

@media screen  and (max-width:480px){
    .box2{
        width: 70vw;
    }
    .box1{
        width:30vw;
        padding-left: 10px;
    }
}