.headerContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:10px;
    align-items: center;
    background-color: rgba(240, 248, 255, 0) ;
    position: absolute;
    z-index: 60;
    width: 99vw;
    
}
.logoHeading{
    color: var(--text-color);
    font-size: xx-large;
}

.Highligthed{
    color: var(--primary-color);
    
}

#login{
    background-color: var(--primary-color);
    font-size: xx-large;
    padding: 0px 10px 0px 10px;
    border-radius: 20px;
    font-size: medium;
    color: var(--secondary-color);    
    width: 10vw;
    height: 2.5vh;

}
