.Testimony-container{
    background-color: none;
    
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}
.Testimony-box{
    display: flex;
    
   
    border: 2px solid var(--border-color);
    background-color: var(--background-color);
}
.Testimony-text-content-box{
    height: 15vh;
    overflow-y:auto;
    width: fit-content;
}
.Testimony-text-content-before{
    width: 100vw;
}
.Testimony-text-content{
    padding: 10px;
    height: 10ch;
    overflow-y:auto;
    color:var(--text-color);
}



.content-author{
    background-color: var(--border-color);
    display: flex;
    justify-content: space-between;
    padding-inline: 10px;
    align-items: center;
    
}

.content-open{
    background-color: var(--border-color);
    border: 1px solid var(--text-color);
    padding: 3px;
    border-radius: 10px;
}