.movielist-container {
    display: flex;
    gap: 10px;
    overflow-x: auto;
    padding: 10px;
    scroll-behavior:smooth;
    
}

li {
    list-style-type: none;
    
    flex: 0 0 10%;
    display:grid;
    grid-template-columns: 0fr 2fr;
    
}
.circle{
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    background-color: black;
    margin-left: -30px;
    z-index: 10;
}
.circle p{
    color:#dddddd;
}


Cards {
    flex-shrink: 0;
    flex-grow: 2;
}