.main-container-listings{
    padding: 10px;
    background-color: var(--background-color);
}
.heading-lisitng{
    font-style: italic;
    color: var(--text-color);
}
.movielist-container{
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    scrollbar-width: none;
    gap:10px;
    padding: 5px;
}

.movielist-item{
    display: flex;
    flex-direction: row;
    padding: 10px;
   
    

}


.movielist-item:hover{
   transform: scale(1.1); 
   
}
.circle {
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 20px;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    background-color: var(--border-color);
    margin-left: -40px;
    margin-top: 10px ;
    z-index: 10;
}

.circle p {
    color: #dddddd;
    font-size: large;
}


Cards {
    flex-shrink: 0;
    flex-grow: 2;
    
}


/* @keyframes boxShadow {
    50%{box-shadow: 10px 20px 24px var(--border-color);}
    
} */
