.main-container-listings {
    padding: 10px;
    


}

#movie-container {
    background-color: var(--background-color);
}

#similar {
    background-color: none;
}

.heading-lisitng {
    font-style: italic;
    color: var(--text-color);

    text-decoration: underline;
    text-decoration-color: var(--text-color);
    padding-left: 10px;
}

.movielist-container {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    scrollbar-width: none;
    gap: 1vw;
    padding: 5px;
}

.movielist-item {
    display: flex;
    flex-direction: row;
    padding: 10px;



}


.movielist-item:hover {
    transform: scale(1.1);

}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 3cap;
    height: 3cap;
    border-radius: 50px;
    background-color: var(--border-color);
    margin-left: -40px;
    margin-top: 10px;
    z-index: 10;
}

.circle p {
    color: #dddddd;
    font-size: large;
}


Cards {
    flex-shrink: 0;
    flex-grow: 2;

}


/* @keyframes boxShadow {
    50%{box-shadow: 10px 20px 24px var(--border-color);}
    
} */