*{
    padding: 0%;
    margin:0%;

    --primary-color: #8b5cf6;
    --text-color:#e2e8f6;
    --secondary-bg-color:#121820;
    --background-color:#05070a;

    --border-color:#351064;
    scrollbar-width: none;
}
.body{
    padding: 20px;
    display: flex;
    background-color: var(--background-color);


}
/* arun remove this is for css making 
div{
    border:1px solid red;
} */
.backframe{
        height: 50vh;
        z-index:-10;
        position: relative;
    }
.special{
    height: fit-content;
    width: 100vw;
    
    
}

.set-frame{
    box-shadow: 2px -30px 80px var(--background-color);
}

@media screen and (min-width: 1024px) {
    .backframe{
        height: 50vh;
        z-index:-10;
        position: relative;
    }
}
@media screen and (min-width: 1200px) {
    .special{
        margin-top: -100px;
    }
}


@media screen and (max-width: 760px) {
    .backframe{
        height: 30vh;
        margin-top: 0px;
    }
    
}

@media screen and (max-width: 460px) {
    .backframe{
        height: 20vh;
        margin-top: 0px;
    }
    
}