*{
    padding: 0%;
    margin:0%;

    --primary-color: #8b5cf6;
    --text-color:#e2e8f6;
    --secondary-bg-color:#121820;
    --background-color:#05070a;

    --border-color:#351064;


}
.body{
    padding: 20px;
    display: flex;
}
/* arun remove this is for css making  */
/* div{
    border:1px solid red;
}

 */

.set-frame{
    box-shadow: 2px -30px 80px var(--background-color);
}

@media screen and (min-width: 1024px) {
    .backframe{
        height: 50vh;
        z-index:-10;
        position: relative;
    }
}
@media screen and (min-width: 1200px) {}