*{
    padding: 0%;
    margin:0%;

    --primary-color: #8b5cf6;
    --text-color:#e2e8f6;
    --secondary-bg-color:#121820;
    --background-color:#05070a;

    --border-color:#351064;


}

/* arun remove this is for css making  */
div{
    border:1px solid red;
}