*{
    background-color: var(--background-color);
    color:var(--text-color);
}
*{
    padding: 0%;
    margin:0%;

    --primary-color: #8b5cf6;
    --text-color:#e2e8f6;
    --secondary-bg-color:#121820;
    --background-color:#05070a;

    --border-color:#351064;


}

.cta-sub-head{
    border: 1px solid var(--primary-color);
    background-color: var(--text-color);
    color:var(--primary-color);
    padding-inline-start: 10px;
    padding-inline-end: 10px;
    font: bold;
    border-radius: 30px;
}

.cta-main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap :10px;
}

.cta-sub-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px;

}

.cta-sub-box{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;

}

.cta-box-top{
    background-color: var(--primary-color);
    min-height: 5vh;
    min-width: 10vh;
}


