.main-container-listings {
    padding: 10px;


}

#cast-container {
    background-color: none;
}



.castlist-container {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    scrollbar-width: none;
    gap: 1vw;
    padding: 10px;

}

.castlist-item {
    display: flex;
    flex-direction: row;
    



}


.castlist-item:hover {
    transform: scale(1.1);

}

Cards {
    flex-shrink: 0;
    flex-grow: 2;

}


@media screen and (max-width:992px) {
    .castlist-container {
        gap:10px
    }
}

@media screen and (max-width:600px) {
    .castlist-container {
        gap:10px
    }
}